<h3>Yolo Multi-Object Tracking</h3>

<br />
<br />
<br />

<video controls>
    <source src="/images/videos/street.mp4" type="video/mp4">
    Your browser does not support the video tag or the file format of this video.
</video>


@code {

}
