@page "/links"


<br />
<MudText Align="Align.Center" Typo="Typo.h3">Links to sites of interest</MudText>
<br />
<br />
<br />
<h2>Mathematics</h2>
<br />
<a href="https://www.youtube.com/watch?v=S0_qX4VJhMQ&t=606s&ab_channel=3Blue1Brown">Blue Brown 's Derivative formulas through geometry</a>
<br />
<br />

<h2>Particle Filtering</h2>
<br />
<a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC7826670/">Particle Filter deep dive explanation</a>
<br />
<a href="https://github.com/jelfring/particle-filter-tutorial/tree/master">Particle Filter example code with Robotics simulation</a>
<br />
<br />


<h2>YOLO - You only look once</h2>
<br />
<a href="https://learnopencv.com/yolov8-object-tracking-and-counting-with-opencv/">Object tracking with Yolo 8</a>
<br />
<a href="https://docs.ultralytics.com/modes/predict/">Yolo documentation - predict</a>
<br />
<a href="https://roboflow.com/annotate?ref=ultralytics">Roboflow</a>
<br />
<a href="https://docs.ultralytics.com/modes/track/?h=tracking">Yolo 8 Multi-tracking</a>

<br>
<br> 

<h2>Repo for this site</h2>
<br />
<a href="https://github.com/evilChipmunk/Blazor.ComputerVision">Blazor.ComputerVision</a>
@code {

}
